.App {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 20vh auto auto;
  grid-template-areas:
    'navbar'
    'filter'
    'content';
}

body {
  background-color: #f8f9fa;
}

.header {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-template-areas: 'main-header user-login';
  display: flex;
  flex-direction: row;
}

.main-header {
  grid-area: main-header;
}
.user-login {
  grid-area: user-login;
}

.sorter {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
}

.sortItem {
  margin-right: 10%;
  font-size: 2vh;
}

.articleTile-grid-container {
  display: grid;
  display: flex;
  flex-direction: row;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr;
  grid-template-areas: 'voter body';
}

.articleTile-voter {
  grid-area: articleTile-voter;
  padding-right: 15px;
}

.articleTile-body {
  grid-area: articleTile-body;
  font-size: 3vh;
}
.singleArticleBody {
  font-size: 3vh;
}

.commentTile-grid-container {
  display: grid;
  display: flex;
  flex-direction: row;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 'commentTile-voter commenTile-body commenTile-body commenTile-body' 'commentTile-voter commenTile-body commenTile-body commenTile-body' 'commentTile-voter commentTile-footer commentTile-footer commentTile-footer';
}

.commentTile-voter {
  grid-area: commentTile-voter;
  padding-right: 15px;
}

.commentTile-body {
  grid-area: commenTile-body;
  font-size: 3vh;
}

.commentTile-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: '. . .' 'bottomFooter bottomFooter bottomFooter';
  grid-area: commentTile-footer;
}

.bottomFooter {
  grid-area: bottomFooter;
}

.voter {
  display: flex;
  flex-direction: column;
}
.voter-count {
  font-weight: bolder;
  font-size: 3vh;
  text-align: center;
}
