body {
}

.App {
  display: grid;
  grid-template-columns: 1fr 18fr 1fr;
  grid-template-rows: repeat(7vh, 6vh) auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.Header {
  display: grid;
  grid-template-columns: auto 15%;
  padding: 0;
  margin: 0;
  border: solid;
  grid-area: 1 / 1 / 2 / 4;
  min-height: 2vh;
}
.UserLogin {
  font-size: 10px;
}

.sortNav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.Nav {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  border: dotted;
  grid-area: 2 / 2 / 3 / 3;
  min-height: 5vh;
  text-align: justify;
}

.articles {
  padding: 0;
  margin: 0;
  grid-area: 3 / 2 / 4 / 3;
  height: 90vh;
  overflow-y: scroll;
}

.article-grid-container {
  display: grid;
  margin-top: 5%;  
  grid-template-columns: 0.2fr 1.8fr 0.4fr;
  grid-template-rows: 0.3fr 2.4fr 0.3fr;
  grid-column-gap: 4px;
 grid-row-gap: 4px;
  grid-template-areas:
    'voter title topic'
    'voter body body'
    'voter author time';
}


/* .article-title {
  display: grid;
  grid-template-columns: 1.7fr 0.3fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'titleHeader topic';
  grid-area: article-title;
}

.article-topicName {
  grid-area: article-topicName;
}

.article-voter {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: '.' 'upVote' 'voteCount' 'downVote' '.';
  grid-area: article-voter;
} */

.title {
  grid-area: title;
}

.topic {
  grid-area: topic;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  font-weight: bold;
  font-size: small;
}

.voter {
  grid-area: voter;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.article-body {
  grid-area: body;
}

.author {
  grid-area: author;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}

.time {
  grid-area: time;
  font-size: smaller;
  font-weight: 400;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: row-reverse;
}
